{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<section class="min-vh-100 my-4 px-1">
    <div class="card m-auto" style="max-width: 25rem;">
        <div class="card-body">
            <h1 class="text-center">Профиль</h1>
            <div id="detail">
                <table class="mb-3">
                    <tr>
                        <td>E-mail: </td>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <td>Последний вход: </td>
                        <td>{{ object.last_login }}</td>
                    </tr>
                    <tr>
                        <td>Зарегистрирован: </td>
                        <td>{{ object.date_joined }}</td>
                    </tr>
                    <tr>
                        <td>Активен: </td>
                        <td>{% if object.is_active %}Да{% else %}Нет{% endif %}</td>
                    </tr>
                </table>
                <a class="btn btn-primary btn-block mb-2" onclick="switchProfile()">Изменить</a>
                <a href="{% url 'export' %}" class="btn btn-primary my-1">Экспортировать</a>
                <a href="{% url 'import' %}" class="btn btn-primary my-1">Импортировать</a>
            </div>
            <div id="update">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-1">
                        E-mail
                        <input type="email" class="form-control" name="email" value="{{ form.email.value }}">
                        {{ form.email.errors }}
                    </div>
                    <button class="btn btn-primary btn-block mb-2">Изменить email</button>
                </form>
                <div class="mb-2">
                    <a href="{% url 'password_change' %}" class="btn btn-primary my-1">Сменить пароль</a>
                    <a href="{% url 'user_delete' %}" class="btn btn-primary my-1">Удалить аккаунт</a>                    
                </div>
                <div>
                    <a href="{% url 'export' %}" class="btn btn-primary my-1">Экспортировать</a>
                    <a href="{% url 'import' %}" class="btn btn-primary my-1">Импортировать</a>                    
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    if (!'{{ form.errors  }}') {
        document.querySelector("#detail").hidden = false
        document.querySelector("#update").hidden = true
    } else {
        document.querySelector("#detail").hidden = true
        document.querySelector("#update").hidden = false
    }

    function switchProfile() {
        document.querySelector("#detail").hidden = !document.querySelector("#detail").hidden
        document.querySelector("#update").hidden = !document.querySelector("#update").hidden
    }
</script>
{% endblock %}