{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<section class="min-vh-100 my-4 px-1">
    <div class="card m-auto" style="max-width: 25rem;">
        <div class="card-header">
            <span class="icon back align-middle"></span>
            <a href="{% url 'profile' %}" class="card-title align-middle text-dark">ПРОФИЛЬ</a>
        </div>
        <div class="card-body">
            <h1 class="text-center">Сброс пароля</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-1">
                    Старый пароль
                    <input type="password" class="form-control" name="old_password">
                    {{ form.old_password.errors }}
                </div>
                <div class="mb-1">
                    Новый пароль
                    <input type="password" class="form-control" name="new_password1">
                    {{ form.new_password1.errors }}
                </div>
                <div class="mb-1">
                    Подтверждение нового пароля:
                    <input type="password" class="form-control" name="new_password2">
                    {{ form.new_password2.errors }}
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-1">Сменить пароль</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}