{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<section class="min-vh-100 my-4 px-1">
    <div class="card m-auto" style="max-width: 25rem;">
        <div class="card-header">
            <span class="icon back align-middle"></span>
            <a href="{% url 'profile' %}" class="card-title align-middle text-dark">ПРОФИЛЬ</a>
        </div>
        <div class="card-body">
            <h1 class="text-center">Сброс пароля</h1>
            <p>Вы сменили пароль.</p>
        </div>
    </div>
</section>
{% endblock %}